@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img{
    background-image: url('localhost:3000/images/hero.png');
    padding-bottom: 1000px;
    /* background-color: red; */
}
@media only screen and (min-width: 640px) {
    .m26{
        margin-left: 26%;
    }
}
